html {
  background: url(../images/water-park.jpg) no-repeat top left;
}

#ring {
  background: url(../images/water-ring.png) no-repeat top left;
  width: 1200px;
  height: 750px;
  position: relative;
  top: -10px;
  left: -8px;
  z-index: 1;
}

#dolphin {
  position: absolute;
  top: 400px;
  right: 0;
}

/* Write your solution here */

@media only screen and (min-width: 642px) and (max-width: 1090px) {
  #dolphin {
    top: 100px;
    transform: rotate(0.75turn);
  }
}
