html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

/* Write your solution here */

@media only screen and (min-width: 406px) and (max-width: 1090px) {
  #monkey {
    top: 10px;
  }
}
