html {
  background: url(../images/croc.jpg) no-repeat top left;
}

#ostrich {
  position: absolute;
  top: 50px;
  right: 0;
}

/* Write your solution here */

@media only screen and (max-width: 1320px) {
  #ostrich {
    position: aboslute;
    top: -50px;
  }
}
