/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

.white-box {
  background: white;
}

.featured-brand {
  float: left;
  width: 66%;
  margin: 0 5px 10px 0;
}

.archive {
  float: left;
  width: 32%;
  margin: 0 0 10px 10px;
}

.col-end-left {
    float: left;
    width: 32%;
    margin: 10px 0 0 0;
}

.col-end-right {
  float: left;
  width: 32%;
  margin: 10px 0 0 0;
}

.col-middle {
  float: left;
  width: 32%;
  margin: 10px 17px 0 17px;
}
