/* write your override styles here */

/* Tag 1 -> 10 */
#wall .tag-1 { /* 110 */
  display: none;
}

/* Tag 2 -> 200 */
body #wall #tag-2 { /* 201 */
  display: none;
}

/* Tag 3 -> 211 */

div#wall div#tag-3.slick, .wicked{ /*222*/
  display: none;
}

/* Tag 4 -> 200 */

#wall .parent #tag-4 { /* 210 */
  display: none;
}

/* Tag 5 -> 221 */

div#wall div.parent div#tag-5.slick { /*223*/
  display: none;
}

/* Tag 6 -> 224 */

body div#wall div.parent div:last-child div#tag-6 { /*225*/
  display: none;
}

/* Tag 7 -> 224 */

body div#wall div.parent div > div#tag-7.slick { /*225*/
  display: none;
}
